
#map {
	display: block !important;
	margin-left:auto !important;
	margin-right:auto !important;
	font-family: 'Roboto', sans-serif !important;
    background-color: #eed;
	height: 100%;
    width: 100%
}

/*h3{
	margin-top: -8px;
	margin-bottom: -4px;
}*/

/*th {
    text-align: left;
    vertical-align: top;
}*/

/*table{
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-radius:10px !important;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}*/

/*.tooltip{
	text-align: center;
	font-size: 16pt;
}*/

/*br {
	display: block;
    content: ""; 
    margin-top: -12px;
}*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h2 {
    margin: 0 0 5px;
    color: #777;
}
.leaflet-container {
    background: #fff;
    padding-right: 10px;
}
.leaflet-popup-content {
    width:512 !important;
    padding-right:10px;
}
.leaflet-tooltip {
    background: none;
    box-shadow: none;
    border: none;
}
.leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    border: 0px;
}